{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Website Santri{% endblock %}</title>
  <!-- link css ke sini -->
   {% load static %}
   <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

  <header>
    {% include 'header.html' %}
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>
  <hr>
        <p class="footer">copyright &copy; 2025 | by The Indomitable | Zilong515</p>
</body>
</html>