{% load static %}
<header>
    <img src="{% static 'images/Logo HSI Boarding School-ori -FINAL.png' %}" width="90px" alt="Logo Sekolah" class="logo">
    <h1>{% block page_title %}SMA IT HSI PURWOREJO{% endblock %}</h1>
    <h2 class="alter_color">{% block subtitle %}Web Profil Sederhana{% endblock %}</h2>

    <hr>

    <nav>
      <a href="{% url 'homepage' %}">Beranda</a>
      <a href="{% url 'santri_home' %}">Salam</a>
        <a href="{% url 'biodata' %}">Biodata</a>
        <a href="{% url 'galeri' %}">Galeri</a>
        <a href="{% url 'jadwal' %}">Jadwal</a>
        <a href="{% url 'feedback' %}">Feedback</a>
    </nav>

    <hr>
  </header>