{% load static %}
<!-- Base Template -->
<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- blok untuk judul page -->
  <title>{% block "title" %}Game Landing{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600;700;800&family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <!-- link css ke sini -->
   <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <!-- panggil header ke sini -->
  {% include "header.html" %}

  <main>
    <!-- blok konten utama -->
    {% block content %}

    {% endblock %}

  </main>

  <footer class="footer">
    <div class="container">
      © 2026 Game Realm Landing Page
    </div>
  </footer>
</body>
</html>