{% extends 'base.html' %}

{% block title %}Hapus Siswa{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold text-slate-900">
        Hapus Siswa
    </h1>    

    <div class=" gap-4 md:grid-cols-2">
        
        <p class="mt-4 px-4 py-2 bg-gray-200 border p-4 rounded-lg font-semibold border-red-300 text-red-600">
            Yakin pengen menghapus <span class="font-semibold">{{ siswa.nama }}</span>?
        </p>
        
        <p class="mt-4 px-4 py-2 bg-gray-200 border p-4 rounded-lg bg-slate-50 border-slate-200 text-black-600">
            Nama : <span name="nama" class="font-semibold">{{ siswa.nama }}</span><br>
            Umur : <span name="umur" class="font-semibold">{{ siswa.umur }}</span><br>
            Tanggal Lahir : <span name="tgl_lahir" class="font-semibold">{{ siswa.tgl_lahir }}</span><br>
            Status Hadir : <span name="status_hadir" class="font-semibold">{{ siswa.status_hadir }}</span><br>
            Nilai Akhir : <span name="nilai_akhir" class="font-semibold">{{ siswa.nilai_akhir }}</span><br>
        </p>

    </div>



    <div class="flex gap-3 mt-6">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="px-4 py-2 bg-red-600 text-white rounded-lg text-sm font-medium hover:bg-red-700">
                Hapus
            </button>
        </form>

        <a href="{% url 'siswa_list' %}"
           class="px-4 py-2 bg-slate-100 text-slate-700 rounded-lg text-sm font-medium hover:bg-slate-200">
            Batal
        </a>
    </div>
{% endblock %}